pkgbuilds/limine-mkinitcpio-hook/*.patch -whitespace
pkgbuilds/limine-mkinitcpio-hook/.omarchy/files/*.patch -whitespace
pkgbuilds/libretro-desmume/*.patch -whitespace
pkgbuilds/libretro-desmume/.omarchy/patches/*.patch -whitespace
